<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.letzteAnmeldung"
    >
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit1">
                {{mg.getValue(mgc.Edit1) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                [magic]="mgc.btn_Close"
            >
                Schließ&amp;en
            </button>
        </div>
    </div>
</div>