<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=1252">
		<title><!$MG_HTMLTitle></title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: '<!$MG_type>'
        },
        title: {
            text: '<!$MG_title>'
        },
        subtitle: {
            text: '<!$MG_subtitle>'
        },
        xAxis: {
            categories: [
            <!$MGREPEAT>
                '<!$MG_xAxis>'<!$MGIF_xKomma>,<!$MGENDIF>
			<!$MGENDREPEAT>
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '<!$MG_yTitle>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} <!$MG_einheit></b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [<!$MGREPEAT>{
            name: '<!$MG_serienname>',
            data: [<!$MG_serienWerte>]}
		<!$MGIF_seriesKomma>,<!$MGENDIF><!$MGENDREPEAT>
        ]
    });
});
		</script>
	</head>
	<body>
<script src="<!$MG_jspfad>js/highcharts.js"></script>
<script src="<!$MG_jspfad>js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

	</body>
</html>
