<html>
<head>
    <title>Success! Mobile Service - BSV Software</title>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=<!$MG_MAPKey>&sensor=false">
    </script>

        <script type="text/javascript">

        var imageUrl="<!$MG_ImageUrl>";
        var geocoder;
        var map;
        var latlng;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var num, data;
        var requestArray = [], renderArray = [];

        var colourArray = ['navy', 'brown', 'green', 'orange', 'pink', 'red', 'paleblue', 'purple', 'yellow', 'darkgreen'];
        requestArray = [];

        var jsonArray = [];

        function routendaten(routennr,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10) {
            jsonArray[routennr]=[p1,p2,p3,p4,p5,p6,p7,p8,p9,p10];

        }

        function generateRequests(){

            for (var route in jsonArray) {
                // This now deals with one of the people / routes

                // Somewhere to store the wayoints
                var waypts = [];

                // 'start' and 'finish' will be the routes origin and destination
                var start, finish;

                // lastpoint is used to ensure that duplicate waypoints are stripped
                var lastpoint;

                data = jsonArray[route];
                limit = data.length;

                for (var waypoint = 0; waypoint < limit; waypoint++) {
                    if (data[waypoint]>'') {
                        if (data[waypoint] === lastpoint) {
                            // Duplicate of of the last waypoint - don't bother
                            continue;
                        }

                        // Prepare the lastpoint for the next loop
                        lastpoint = data[waypoint];

                        // Add this to waypoint to the array for making the request

                            waypts.push({
                                location: data[waypoint],
                                stopover: true
                            });

                    }
                }

                // Grab the first waypoint for the 'start' location
                start = (waypts.shift()).location;
                // Grab the last waypoint for use as a 'finish' location
                finish = waypts.pop();
                if (finish === undefined) {
                    // Unless there was no finish location for some reason?
                    finish = start;
                } else {
                    finish = finish.location;
                }

                // Let's create the Google Maps request object
                var request = {
                    origin: start,
                    destination: finish,
                    waypoints: waypts,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                // and save it in our requestArray
                requestArray.push({"route": route, "request": request});
            }
            processRequests();
        }


        function processRequests(){

            // Counter to track request submission and process one at a time;
            var i = 0;

            // Used to submit the request 'i'
            function submitRequest(){
               if(requestArray[i] != undefined) {
                   directionsService.route(requestArray[i].request, directionResults);
               }
            }

            // Used as callback for the above request for current 'i'
            function directionResults(result, status) {
                if (status == google.maps.DirectionsStatus.OK) {

                    // Create a unique DirectionsRenderer 'i'
                    renderArray[i] = new google.maps.DirectionsRenderer();
                    renderArray[i].setMap(map);

                    // Some unique options from the colorArray so we can see the routes
                    renderArray[i].setOptions({
                        preserveViewport: true,
                        suppressInfoWindows: true,
                        polylineOptions: {
                            strokeWeight: 4,
                            strokeOpacity: 0.8,
                            strokeColor: colourArray[i]
                        },
                        markerOptions:{
                            icon:{
                                path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                                scale: 3,
                                strokeColor: colourArray[i]
                            }
                        }
                    });

                    // Use this new renderer with the result
                    renderArray[i].setDirections(result);
                    // and start the next request
                    nextRequest();
                }

            }

            function nextRequest(){
                // Increase the counter
                i++;
                // Make sure we are still waiting for a request
                if(i >= requestArray.length){
                    // No more to do
                    return;
                }
                // Submit another request
                submitRequest();
            }

            // This request is just to kick start the whole process
            submitRequest();
        }

        function initialize() {
            latlng = new google.maps.LatLng( <!$MG_lat>,<!$MG_lng>);
            geocoder = new google.maps.Geocoder();
            directionsDisplay = new google.maps.DirectionsRenderer();

            var myOptions = {
                zoom: 9,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
                    myOptions);
            directionsDisplay.setMap(map);

            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);

            notifyLoaded();
            //generateRequests();
        }

        function sendMessage(msg) {
            device_os = '<!$MG_device_os>';
            switch (device_os) {
                case 'iOS':
                    window.location.href = 'MGExternalEvent:' + msg;
                    break;
                case 'android':
                    window.external.MGExternalEvent(msg);
                    break;
                default:
                    window.external.MGExternalEvent(msg);
            }
        }

        function notifyLoaded() {
            sendMessage('OK');
        }

        function gotGeocode(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    sendMessage('ADDRESS|' + results[0].formatted_address);
                }
            }
        }
        function moveto(lat, lng, Markertext, myIcon) {

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: Markertext,
                icon: myIcon

            });
            geocoder.geocode({'latLng': latlng}, gotGeocode);
        }



        function calcRoute(start,end,waypts) {

            var wps = [];
            var mywps = waypts.split(";");

            for (var i = 0; i< mywps.length;  i++) {
                wps.push({
                    location: mywps[i].toString(),
                    stopover: true
                });
            }

            var request = {
                origin:start,
                destination:end,
                waypoints: wps,
                optimizeWaypoints: false,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }


        function codeAddress(adresse, Markertext, MarkerImage) {
            var myaddr = adresse.split(";");
            var mymark = Markertext.split(";");
            var myimage = MarkerImage.split(";");

            for (var i = 0; i< myaddr.length;  i++) {
                //alert(myaddr[i]);
                var mkoord = myaddr[i].split(",");
                var mlat = mkoord[0];
                var mlng = mkoord[1];

                var latlng = new google.maps.LatLng(mlat,mlng);
                //alert(imageUrl+myimage[i]);
                var marker = new google.maps.Marker({
                            map: map,
                            position: latlng,
                            title: mymark[i],
                            icon: imageUrl+myimage[i]
                });
            }
        }
        </script>
</head>
<body onload="initialize()">
<div id="map_canvas"></div>
</body>
</html>
