<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline Sign</title>
    <script language="javascript" type="text/javascript" src="Templates_jquery191.js"></script>
    <script language="javascript" type="text/javascript" src="Templates_ss.js"></script>
    <script language="javascript" type="text/javascript">
      function saveme(msg,msg2) {
       var msg2mg;
       msg2mg=msg.value;
       if (msg2.value>"") {
       msg2mg=msg2mg.concat("#",msg2.value);
       }
       window.external.MGExternalEvent(msg2mg);
       }
    </script>
</head>
<body>
   <form id="frm">
    <div id='ctlSignature_Container' style="width: 640px; height: 240px; margin: 0px; position: relative; display: block; left: 0px; top: 0px;">
        <script language="javascript" type="text/javascript">
            var ieVer = getInternetExplorerVersion();
            if (isIE) {
                if (ieVer >= 9.0)
                    isIE = false;
            }

            if (isIE) {
                document.write("<div ID='ctlSignature' style='width:640px;height:240px;'></div>");
            }
            else {
                document.write("<canvas id='ctlSignature' width='640' height='240' style='left: 0px; top: 0px; position: absolute;'></canvas>");
            }       
        </script>
    </div>
    <div id='ctlSignature_toolbar' style="display: block; left: 0px; height: 20px; width: 640px; position: relative; background-color: transparent; top: 20px;">
        <input type="button" id='ctlSignature_resetbutton' value="Reset" style='cursor: pointer; float: right;' />
        <div id='ctlSignature_status' style='color: blue; font-family: verdana; font-size: 12px; float: right; margin-right: 5px;'></div>
    </div>
    <input type='hidden' id='ctlSignature_data' name='ctlSignature_data' value=''/>
    <input type='hidden' id='ctlSignature_data_smooth' name='ctlSignature_data_smooth' value=''/>
    <input type="button" value="Speichern" style="position: relative" name="save" id="send" onclick="saveme(ctlSignature_data,ctlSignature_data_smooth)"/>
	<script type="text/javascript">
        var objctlSignature;
        $(document).ready(function () { objctlSignature = new SuperSignature({ SignObject: "ctlSignature", SignWidth: "640", SignHeight: "240", ImageScaleFactor: "1", Enabled: "true", SmoothSign: "true", TransparentSign: "false", BackColor: "#ffffff", Visible: "true", RequiredPoints: 30, SuccessMessage: "Vielen Dank.", StartMessage: "Bitte unterschreiben.", ErrorMessage: "Unzureichende Unterschrift.", BorderColor: "#DCDCDC", BorderStyle: "dashed", BorderWidth: "2px", PenColor: "#0000FF", PenSize: 3 }); try { objctlSignature.Init(); } catch (ex) { alert(ex.description); } }); 
    </script>
   </form>
</body>
</html>
