<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline Sign</title>
    <script language="javascript" type="text/javascript" src="jquery191.js"></script>
    <script language="javascript" type="text/javascript" src="ss.js"></script>
    <script language="javascript" type="text/javascript" src="filesaver.js"></script>
    <script language="javascript" type="text/javascript">
     var filename="";
	 function initfilename(mgfilename) {
	   filename=mgfilename;
	   alert(navigator.platform);
	 }	 
	 function saveme(msg,msg2) {
       var msg2mg;
       msg2mg=msg.value;
       if (msg2.value>"") {
       msg2mg=msg2mg.concat("#",msg2.value);
       }
       window.external.MGExternalEvent(msg2mg);
       }
	 function saveme2(msg,msg2) {
	  if (msg2.value>"") {
      var myblob = new Blob([msg.value,"#",msg2.value], {type: "text/plain;charset=utf-8"});
	  }
	  else
	  {
	  var myblob = new Blob([msg.value], {type: "text/plain;charset=utf-8"});
	  }
      saveAs(myblob, filename);
	  }
    </script>
</head>
<body>
   <form id="frm">
    <div id='ctlSignature_Container' style="width: 320px; height: 200px; margin: 0px; position: relative; display: block; left: 0px; top: 0px;">
        <script language="javascript" type="text/javascript">
            var ieVer = getInternetExplorerVersion();
            if (isIE) {
                if (ieVer >= 9.0)
                    isIE = false;
            }

            if (isIE) {
                document.write("<div ID='ctlSignature' style='width:320px;height:200px;'></div>");
            }
            else {
                document.write("<canvas id='ctlSignature' width='320' height='200' style='left: 0px; top: 0px; position: absolute;'></canvas>");
            }       
        </script>
    </div>
    <div id='ctlSignature_toolbar' style="display: block; left: 0px; height: 20px; width: 320px; position: relative; background-color: transparent; top: 20px;">
        <input type="button" id='ctlSignature_resetbutton' value="Reset" style='cursor: pointer; float: right;' />
        <div id='ctlSignature_status' style='color: blue; font-family: verdana; font-size: 12px; float: right; margin-right: 5px;'></div>
    </div>
    <input type='hidden' id='ctlSignature_data' name='ctlSignature_data' value=''/>
    <input type='hidden' id='ctlSignature_data_smooth' name='ctlSignature_data_smooth' value=''/>
    <input type="button" value="Speichern" style="position: relative" name="save" id="send" onclick="saveme(ctlSignature_data,ctlSignature_data_smooth)"/>
	<script type="text/javascript">
        var objctlSignature;
        $(document).ready(function () { objctlSignature = new SuperSignature({ SignObject: "ctlSignature", SignWidth: "320", SignHeight: "200", ImageScaleFactor: "1", Enabled: "true", SmoothSign: "true", TransparentSign: "false", BackColor: "#ffffff", Visible: "true", RequiredPoints: 30, SuccessMessage: "Vielen Dank.", StartMessage: "Bitte unterschreiben.", ErrorMessage: "Unzureichende Unterschrift.", BorderColor: "#DCDCDC", BorderStyle: "dashed", BorderWidth: "2px", PenColor: "#0000FF", PenSize: 3 }); try { objctlSignature.Init(); } catch (ex) { alert(ex.description); } }); 
    </script>
   </form>
</body>
</html>
